.hd-1, .hd-2, .hd-3, .hd-4, .hd-5, .hd-6, .hd-7, .hd-8 {
  color: #586d81;
}

//.content-wrapper .register {
//  background: #eef9fd;
//}

.content-wrapper {
  background: #eef9fd;
}

.register-loginBtn {
  color: #FFF;
  font-weight: 600;
  text-align: center;
  padding: 15px;
  border-radius: 8px;
  background-color: #126f9a;
}

.register-loginInfo {
  margin: 50px 0 35px 0;
  text-align: center
}

.register-loginInfo-h3 {
  font-size: 16px;
  line-height: 23.68px;
  color: #414141;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #d0d0d0;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.register-loginInfo-span {
  background:#fff;
  padding:0 10px;
}

.register-select {
  background: transparent;
  opacity: 0.85;
  border: none;
  outline: solid 1px #c8c8c8;
  cursor: pointer;
  display: block;
  height: 32px;
  width: 100%;
  margin: 0 0 5px;
  padding: 0 10px;
}

.register-container {
  // border: 1px solid #d3eeff;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 70px -20px rgba(108,167,188,0.49);
  -moz-box-shadow: 0px 0px 70px -20px rgba(108,167,188,0.49);
  box-shadow: 0px 0px 70px -20px rgba(108,167,188,0.49);
}

.view-register .register {
  background-color: #eef9fd;
  padding: 5.5em 0;
}

.register .register-logo {
  margin: 30px 0 60px 0;
}

.register form .field {
  height: 100px;
}

.register form .field input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid;
  outline-width: 2px;
  box-shadow: none;
  width: 90%;
  border-color: #dddddd;
}

.register form .field .tip {
  color: #737373;
}

.register .content .form-actions button {
  box-shadow: 0 2px 1px 0 #f3f0f0;
  background: #f26e1f;
  color: #fff;
  border-radius: 8px;
  margin-top: 115px;
}

.form-container {
  width: calc(50% - 25px);
  float: left;
  margin-left: 20px;
}

.field-group {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 11;
}

.view-login .container {
  background: none;
}

.login {
  padding: 8em 0 22em;
}

.login-frm .content {
  width: 400px;
  float: none;
  margin: 0;
  text-align: left;
  border-radius: 5px;
  padding: 40px 35px 50px 35px;
  -webkit-box-shadow: 0px 0px 70px -20px rgba(108,167,188,0.49);
  -moz-box-shadow: 0px 0px 70px -20px rgba(108,167,188,0.49);
  box-shadow: 0px 0px 70px -20px rgba(108,167,188,0.49);
  background-color: #fff;
}

.login-frm form .field label {
  text-align: left;
}

.login-frm form .field input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid;
  outline-width: 2px;
  box-shadow: none;
  width: 100%;
  border-color: #dddddd;
}

.login-frm form .field .tip {
  display: inline;
  color: #737373;
}

.login-frm .form-actions {
  display: inline;
  float: right;
}

.login-frm .content .login-logo {
  margin: 0 0 50px 0;
  text-align: left;
  position: relative;
  left: -10px;
  top: -10px;
}

.login-frm .content form .field button {
  width: 120px;
  height: 30px;
  border-radius: 5px;
  box-shadow: 0 2px 1px 0 #f3f0f0;
  background: #f26e1f;
  color: #fff;
  padding:0;
}

.intro .detailtest {
  padding:10px; 
  text-align:justify;
  line-height: 170%;
  margin-bottm: 40px;
}

.intro .duration {
  margin: 10px 0 20px 0; padding:10px
}

.course-info header.course-profile {
  background: none;
  background-image: none;
  background-size: cover;
  box-shadow: 0 1px 80px 0 rgba(0,0,0,0.5);
  border-bottom: 1px solid #646464;
  box-shadow: inset 0 1px 5px 0 rgba(0,0,0,0.1);
  height: 280px;
  margin-top: 0px;
  padding-top: 50px;
  padding-bottom: 200px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.course-info header.course-profile .intro-inner-wrapper {
  background: rgba(255,255,255,0.93);
  -webkit-box-shadow: 0px 0px 70px -20px rgb(108, 167, 188);
  -moz-box-shadow: 0px 0px 70px -20px rgba(108,167,188,0.49);
  box-shadow: 0px 0px 70px -20px rgb(108, 167, 188);
  border: none;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1200px;
  min-width: 760px;
  position: relative;
  z-index: 2;
  border-radius: 10px;
}

.course-info header.course-profile .intro-inner-wrapper .intro>.heading-group {
  border-bottom: none;
  margin-bottom: 0;
}

.course-info header.course-profile .intro-inner-wrapper .intro .main-cta strong,
.course-info header.course-profile .intro-inner-wrapper .intro .main-cta a.register {
  border: none;
  border-bottom: none;
  /* border-radius: 10px; */
  box-shadow: none;
  color: #fff;
  display: inline-block;
  font-size: inherit;
  /* font-weight: bold; */
  background-color: #f26e1f;
  /* background-image: -webkit-linear-gradient(top, #0079bc 0%,#00479b 50%,#002e8c 50%,#00338e 100%); */
  background-image: linear-gradient(to bottom,#f26e1f 0%,#f26e1f 50%,#f26e1f 50%,#f26e1f 100%);
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  box-sizing: border-box;
  border-radius: 6px;
  display: block;
  float: left;
  /* font: normal 1.2rem/1.6rem "Open Sans",Verdana,Geneva,sans-serif,sans-serif; */
  /* letter-spacing: 1px; */
  text-align: center;
  text-transform: capitalize;
  width: 25.26334%;
  height: 40px;
}

.course-wrapper {
  overflow: hidden;
  border-radius: 10px;
  border: none;
}

.course-wrapper .course-index {
  background-color: #586d81;
  padding: 25px;
}

.course-index .accordion .course-navigation .button-chapter,
.course-index .accordion .course-navigation .button-chapter.active {
  background: none;
}

.course-index .accordion .course-navigation .button-chapter .group-heading,
.course-index .accordion .course-navigation .button-chapter.active .group-heading {
  color: white;
}

.course-index .accordion .course-navigation .chapter-content-container,
.course-index .accordion .course-navigation .chapter-content-container.is-open {
  background: none;
  border-bottom: none;
}

.course-index .accordion .course-navigation .chapter-content-container .chapter-menu .menu-item.active a,
.course-index .accordion .course-navigation .chapter-content-container .chapter-menu .menu-item a:hover {
  background-color: #de844a;
}

.course-index .accordion .course-navigation .chapter-content-container .chapter-menu .menu-item a,
.course-index .accordion .course-navigation .chapter-content-container .chapter-menu .menu-item a:hover, 
.course-index .accordion .course-navigation .chapter-content-container .chapter-menu .menu-item.graded .menu-icon {
  color: white;
}

.course-index .accordion .course-navigation .chapter-content-container .chapter-menu .menu-item a p.subtitle,
.course-index .accordion .course-navigation .chapter-content-container .chapter-menu .menu-item a:hover p.subtitle {
  color: #ddd;
}

.course-wrapper .course-content {
  width: 70%; 
}

.course-wrapper .course-content .sequence .path, .course-wrapper .courseware-results-wrapper .sequence .path {
  color: #8195a9;
}

.xmodule_display.xmodule_SequenceModule .sequence-nav-button.button-previous {
  -webkit-border-top-left-radius: 5px;
  -moz-border-topleft-radius: 5px;
  border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-bottomleft-radius: 5px;
  border-bottom-left-radius: 5px;
}

.xmodule_display.xmodule_SequenceModule .sequence-nav-button.button-next {
  -webkit-border-top-right-radius: 5px;
  -moz-border-topright-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-bottomright-radius: 5px;
  border-bottom-right-radius: 5px;
}

.xmodule_display.xmodule_SequenceModule .sequence-nav-button.button-previous,
.xmodule_display.xmodule_SequenceModule .sequence-nav-button.button-next {
  color: #586d81;
  background-color: #8195a9;
  background-image: none;
  border: none;
  text-shadow: none;
  box-shadow: none;
}

.xmodule_display.xmodule_SequenceModule .sequence-nav .sequence-list-wrapper {
  border: none;
  box-shadow: none;
  height: 46px;
}

.xmodule_display.xmodule_SequenceModule .sequence-nav ol {
  padding-left: 0;
  padding-right: 0;
}

.xmodule_display.xmodule_SequenceModule .sequence-nav ol li button {
  background-color: #586d81;
  background-image: none;
  border: none;
  height: 43px;
}

.xmodule_display.xmodule_SequenceModule .sequence-nav ol li button.inactive .icon {
  color: #42464F;
}

.xmodule_display.xmodule_SequenceModule .sequence-nav ol li button.active,
.xmodule_display.xmodule_SequenceModule .sequence-nav ol li button.active:hover,
.xmodule_display.xmodule_SequenceModule .sequence-nav ol li button:hover,
.xmodule_display.xmodule_SequenceModule .sequence-nav ol li button.active:focus,
.xmodule_display.xmodule_SequenceModule .sequence-nav ol li button:focus {
  background-color: #394958;
  background-image: none;
  border: none;
}

.xmodule_display.xmodule_SequenceModule .sequence-nav ol li button.active .icon,
.xmodule_display.xmodule_SequenceModule .sequence-nav ol li button.active:hover .icon,
.xmodule_display.xmodule_SequenceModule .sequence-nav ol li button:hover .icon,
.xmodule_display.xmodule_SequenceModule .sequence-nav ol li button.active:focus .icon,
.xmodule_display.xmodule_SequenceModule .sequence-nav ol li button:focus .icon {
  color: #586d81;
}

.xmodule_display.xmodule_CapaModule div.problem .action .save,
.xmodule_display.xmodule_CapaModule div.problem .action .check,
.xmodule_display.xmodule_CapaModule div.problem .action .show,
.xmodule_display.xmodule_CapaModule div.problem .action .reset,
.xmodule_display.xmodule_CapaModule div.problem .action .hint-button {
  background-color: #1fb6f6;
  background-image: none;
  color: white;
  border: none;
  text-shadow: none;
  border-radius: 5px;
}

.xmodule_display.xmodule_SequenceModule nav.sequence-bottom {
  margin-left: 0;
  margin-right: 0;
  float: right;
}

.xmodule_display.xmodule_SequenceModule nav.sequence-bottom .icon {
  color: white;
}

.xmodule_display.xmodule_SequenceModule nav.sequence-bottom .sequence-nav-button.button-previous {
  border-right: 1px solid #ccc;
}

.xmodule_display.xmodule_SequenceModule nav.sequence-bottom .sequence-nav-button.button-next {
  border-left: 1px solid #ccc;
}

body.view-in-course .instructor-dashboard-wrapper-2 {
  border-radius: 10px;
  margin-bottom: 50px;
  -webkit-box-shadow: 0px 0px 28px 2px rgba(108,167,188,0.49);
  -moz-box-shadow: 0px 0px 28px 2px rgba(108,167,188,0.49);
  box-shadow: 0px 0px 28px 2px rgba(108,167,188,0.49);
  background-color: #fff;
}

.find-courses {
  background: none;
}

.courses-container .courses .course {
  overflow: hidden;
  border-radius: 10px;
}

body.view-in-course .wrapper-footer {
  margin-top: 0;
}

body.view-in-course .course-wrapper {
  margin-bottom: 60px;
}

.wrapper-course-material .course-tabs {
  padding: 15px 0 0 0;
}

.gradebook-wrapper {
  margin-bottom:60px;
  border-radius: 10px;
}

.xmodule_display.xmodule_CapaModule div.problem .choicegroup .indicator-container, .xmodule_display.xmodule_CapaModule div.problem .choicetextgroup .indicator-container {
 display: none;
}

.course-date {
  text-align: center;
}

.courses-container .courses .course .course-info .course-title {
  margin: 13px 0 0 0;
  height: 23px;
  text-align: center;
}

.courses-container .courses .course .course-info h2 {
  margin: 0;
}

.courses-container .courses .course .course-info {
  height: 32px;
  margin-bottom: 30px;
}

body.view-in-course .profile-wrapper {
  border-radius: 10px;
  margin: 0 auto 50px;
}

